@import url(variables.css);
@import url(works.css);

.container {
    display: flex;
    gap: var(--space-x-small);
    margin: 0 auto;
}

.poster {
    align-self: flex-start;
    display: block;
    margin: 0 auto;
    position: relative;
    width: 25%;
}

.poster a img {
    display: block;
    width: 100%;
}

img.unpublished {
    cursor: default;
    opacity: var(--opacity-unpublished);
    pointer-events: none;
}

.unpublished-label {
    font-size: var(--font-size-large);
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotate(-10deg);
    top: 50%;
}

.rule {
    width: 75%;
}

.rule p {
    font-size: var(--font-size-small);
}

ul {
    margin: 0;
    padding-inline-start: var(--space-medium);
}

.bold {
    font-weight: bold;
}

.detail-link {
    margin-top: var(--space-small);
}

.detail-link {
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-size-small);
    padding: var(--space-x-small) var(--space-small);
    border-radius: var(--border-radius-max);
    background: var(--detail-link-background);
    transition: var(--duration-short);
}

.detail-link:hover{
    transform:translateX(var(--space-x-small));
}

@media (max-width: 376px) {
    .container {
        flex-direction: column;
    }

    .poster,
    .rule {
        width: 100%;
    }
}