:root {
    /* 盤面の縦横のマス数(盤面生成にも使用) */
    --cell: 6;

    /* color */
    --border-color: #555;
    --cell-background: #efe;
    --cell-highlight-color: #f00;
    --cell-hover-color: #afa;
    --close-button-color: #000;
    --corner-hover-color: #fcc;
    --empty-stone-color: #eee;
    --inner-shadow-color: #ddd;
    --modal-background: #fff;
    --modal-layer: #000c;
    --outer-shadow-color: #ccc;
    --stone-border-color: #aaa;

    /* layout */
    --cell-border-width: 1px;
    --cell-highlight-width: 3px;
    --cell-size: 80px;
    --modal-border-width: 8px;
    --stone-size: 64px;

    /* spacing */
}

body {
    transition: background-color .5s ease;
}

h1, h2, h3 {
    font-family: "UD デジタル 教科書体 NP";
}

.qty {
    display: none;
    text-align: center;
}

.color-button-wrapper {
    display: flex;
    gap: 16px;
    height: var(--cell-size);
    justify-content: center;
    overflow-y: hidden;
    transition: height .5s;
}

.color-button {
    border: none;
    border-radius: 50%;
    height: var(--stone-size);
    width: var(--stone-size)
}

.color-button:hover {
    opacity: .6;
}

.board {
    display: grid;
    grid-template-columns: repeat(var(--cell), var(--cell-size));
    grid-template-rows: repeat(var(--cell), var(--cell-size));
    justify-content: center;
}

.stone-cell {
    background-color: var(--cell-background);
    border: var(--cell-border-width) dotted var(--border-color);
    display: grid;
    place-items: center;
}

.stone-cell.selected {
    border: var(--cell-highlight-width) solid var(--cell-highlight-color);
}

.stone-cell:hover {
    background-color: var(--cell-hover-color);
}

.stone-cell.corner:hover {
    background-color: var(--corner-hover-color);
}

.stone {
    border: 1px solid var(--stone-border-color);
    border-radius: 50%;
    cursor: pointer;
    height: var(--stone-size);
    transition-property: background-color, transform;
    transition-duration: 0s, .8s;
    transition-delay: .4s, 0s;
    width: var(--stone-size);
}

.empty {
    background-color: var(--empty-stone-color);
}

.red {
    transform: rotateY(540deg);
}

.blue {
    transform: rotateY(1080deg);
}

.black {
    transform: rotateY(540deg);
}

.white {
    transform: rotateY(1080deg);
}

.modal-background {
    background-color: var(--modal-layer);
    display: grid;
    height: 100vh;
    left: 0;
    opacity: 0;
    place-items: center;
    position: fixed;
    top: 0;
    transition: all .8s;
    visibility: hidden;
    width: 100%;
    z-index: 30;
}

.modal-background.open {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: var(--modal-background);
    border: var(--modal-border-width) solid var(--outer-shadow-color);
    border-radius: 16px;
    padding: 16px;
    position: relative;
    transition: all .8s;
    width: 400px;
    z-index: 40;
}

.close {
    cursor: pointer;
    height: 48px;
    position: absolute;
    right: 8px;
    top: 4px;
    width: 48px;
}

.close span {
    background-color: var(--close-button-color);
    border-radius: 50px;
    display: block;
    height: 2px;
    position: absolute;
    right: 8px;
    top: 4px;
    width: 32px;
}

.close span:nth-of-type(1) {
    top: 24px;
    transform: rotate(-45deg);
}

.close span:nth-of-type(2) {
    top: 24px;
    transform: rotate(45deg);
}

h3 {
    font-size: 32px;
    text-align: center;
}

.answer {
    display: none;
}

.answer.visible {
    display: block;
}