@import url(variables.css);

section > a {
    display: block;
    width: 40%;
    margin: 0 auto;
}

section > a img {
    display: block;
    width: 100%;
}

p {
    margin: var(--space-x-small) 0;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-small);
    justify-content: center;
    margin-top: var(--space-medium);
    max-width: 100%;
}

.card {
    border-radius: var(--border-radius-large);
    box-shadow: 0 0.1em 0.2em var(--border-bottom-color);
    display: flex;
    flex-direction: column;
    padding: var(--space-x-small);
    width: 33%;
}

.card-text {
    background-color: var(--card-text-background);
    border-radius: var(--border-radius-base);
    flex: 1;
    font-size: var(--font-size-small);
    padding: 0 var(--space-small);
    text-align: justify;
}

.card-text span {
    text-decoration: line-through;
}

.card:nth-of-type(1) {
    background-color: var(--light-color-first);
}

.card:nth-of-type(2) {
    background-color: var(--light-color-second);
}

.card:nth-of-type(3) {
    background-color: var(--light-color-third);
}

.card:nth-of-type(4) {
    background-color: var(--light-color-fourth);
}

.tag {
    border-radius: var(--border-radius-max);
    cursor: default;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-x-small);
    padding: var(--space-x-small);
    vertical-align: middle;
}

.html {
    background-color: var(--light-color-first);
}

.css {
    background-color: var(--light-color-second);
}

.javascript {
    background-color: var(--light-color-third);
}

.php {
    background-color: var(--light-color-fourth);
}

.mysql {
    background-color: var(--light-color-fifth);
}

.others {
    background-color: var(--light-color-sixth);
}

ol, ul:not(.menu-list) {
    font-size: var(--font-size-small);
    margin: var(--space-x-small) 0;
}

.button {
    background-color: var(--button-background);
    border: none;
    border-radius: var(--border-radius-base);
    box-shadow: 0 0.1em var(--button-shadow);
    color: var(--primary-font-color);
    cursor: pointer;
    display: block;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-base);
    font-weight: bold;
    margin: var(--space-small) auto;
    padding: var(--space-x-small) var(--space-small);
    transition: opacity var(--duration-medium);
}

.button:hover {
    opacity: var(--opacity-base);
}

.button:active {
    box-shadow: none;
    transform: translateY(0.1em);
}

@media (max-width: 376px) {
    section > a {
        width: 100%;
    }

    .card {
        width: 100%;
    }
}