:root {
    /* layout */
    --border-bottom: 1px;
    --border-left: 8px;
    --border-radius-base: 8px;
    --font-family-primary: "sans-serif";
    --font-family-secondary: "Times New Roman";
    --footer-height: 80px;
    --header-height: 64px;
    --menu-width: 80px;
    --opacity-base: .6;
    --page-width: 1280px;
    --work-width: 600px;

    /* color */
    --border-bottom-color: #ccc;
    --border-left-color: #aaa;
    --button-background: #0a0;
    --button-shadow: #080;
    --primary-background-color: #00a;
    --primary-font-color: #fff;
    --secondary-font-color: #000;

    /* font-size */
    --font-size-x-small: 12px;
    --font-size-small: 14px;
    --font-size-base: 16px;
    --font-size-large: 20px;
    --font-size-x-large: 24px;
    --font-size-xx-large: 32px;
    --font-size-xxx-large: 64px;

    /* animation-duration */
    --duration-short: .2s;
    --duration-medium: .5s;
    --duration-long: .8s;

    /* spacing */
    --letter-space-base: .05em;
    --space-x-small: 8px;
    --space-small: 16px;
    --space-medium: 24px;
    --space-large: 32px;
    --space-x-large: 40px;
    --space-xx-large: 80px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--header-height) + var(--space-small));
}

body {
    font-family: var(--font-family-primary);
    letter-spacing: var(--letter-space-base);
}

a {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: text-decoration-color var(--duration-short);
}

a:hover {
    font-weight: bold;
    text-decoration-color: var(--primary-font-color);
}

header {
    align-items: center;
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header a {
    color: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-family-secondary);
}

h1 {
    font-size: var(--font-size-x-large);
    margin-left: var(--space-small);
}

h1 a {
    text-decoration: none;
}

h1 span:first-child {
    letter-spacing: .3em;
}

h1 span:last-child {
    display: block;
    font-size: var(--font-size-x-small);
    letter-spacing: .2em;
}

.menu-list {
    display: flex;
    gap: var(--space-small);
    list-style: none;
    margin-right: var(--space-small);
}

.menu a {
    display: inline-block;
    line-height: var(--header-height);
    padding: 0 var(--space-x-small);
    text-align: center;
    max-width: var(--menu-width);
}

.main-img {
    background-image: url(images/main.jpg);
    background-position: center;
    background-size: cover;
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
    max-width: 100%;
    position: relative;
}

h2 {
    color: var(--primary-font-color);
    letter-spacing: 0.15em;
    right: 10%;
    position: absolute;
    text-align: center;
    top: 10%;
}

h2 span {
    display: block;
}

h2 span:first-of-type {
    font-size: var(--font-size-xxx-large);
}

h2 span:last-of-type {
    font-size: var(--font-size-xx-large);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    margin-top: var(--header-height);
    max-width: var(--page-width);
    padding: 0 var(--space-x-small);
}

h3 {
    border-bottom: var(--border-bottom) solid var(--border-bottom-color);
    border-left: var(--border-left) solid var(--border-left-color);
    font-size: var(--font-size-x-large);
    margin: var(--space-medium) 0;
    padding: 0 0 var(--space-x-small) var(--space-small);
}

.contents-block {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile-wrapper,
.works-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--space-medium);
    justify-content: center;
}

.profile-img {
    max-width: 35%;
}

.profile-text {
    font-size: var(--font-size-small);
    line-height: 2;
}

.career p,
.skills li {
    line-height: normal;
}

.career p {
    margin-left: var(--space-x-small);
}

.skills ul {
    padding-inline-start: var(--space-large);
}

.works-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.work {
    max-width: var(--work-width);
}

.work-img {
    max-width: 100%;
    transition:
        border-radius var(--duration-long),
        transform var(--duration-long);
}

.work-img:hover {
    border-radius: var(--border-radius-base);
    transform: scale(1.25);
}

.work a {
    color: var(--secondary-font-color);
}

.work a:hover {
    text-decoration-color: var(--secondary-font-color);
}

.button {
    background-color: var(--button-background);
    border: none;
    border-radius: var(--border-radius-base);
    box-shadow: 0 0.1em var(--button-shadow);
    color: var(--primary-font-color);
    cursor: pointer;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-base);
    font-weight: bold;
    margin: var(--space-small) 0;
    padding: var(--space-x-small) var(--space-small);
    transition: opacity var(--duration-medium);
    width: fit-content;
}

.button:hover {
    opacity: var(--opacity-base);
}

.button:active {
    box-shadow: none;
    transform: translateY(0.1em);
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"] {
    border-radius: var(--border-radius-base);
    border-width: 1px;
    padding: 4px;
    max-width: 20%;
}

textarea {
    border-radius: var(--border-radius-base);
    padding: var(--space-x-small);
    max-width: 40%;
}

footer {
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    display: grid;
    height: var(--footer-height);
    margin-top: var(--space-xx-large);
    place-items: center;
}

@media (max-width: 376px) {
    .header-right {
        display: none;
    }

    .profile-wrapper {
        flex-wrap: wrap;
    }

    .profile-img {
        max-width: 100%;
    }

    form {
        margin: 0 var(--space-x-small);
    }

    input[type="text"],
    input[type="email"],
    textarea {
        max-width: 100%;
    }
}